@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@utility glass-panel {
  @apply bg-zinc-900/50 backdrop-blur-md border border-zinc-800/50;
}

@utility neon-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-cyan-400 to-blue-600;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}